* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    background: #f5f7fa;
}

.container{
    background: white;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    display: flex;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v15-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v15-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

aside {
    background-color: #1e2939;
    width: 370px;
}

.photo {
    width: 370px;
}

.name_mini, .position_mini {
    display: none;
}

.aside_header_wrapper {
    display: flex;
    align-items: center;
}

.aside_header {
    margin-left: 41px;
    margin-top: 50px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
}

.contacts_item {
    margin-top: 20px;
    height: 24px;
    display: flex;
    align-items: center;
}

.contacts_item_icon {
    margin-left: 40px;
    margin-right: 10px;
    width: 30px;
}

.contacts_item_descr {
    opacity: 0.4;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    position: relative;
    vertical-align: center;
}

.skills_list {
    margin-left: 40px;
    padding-left: 0;
}

.skills_list:last-child {
    margin-bottom: 40px;
}

.skills_list_item {
    color: #ff6b08;
    margin-left: 40px;
    margin-top: 13px;
}

.skills_list_item:first-child {
    margin-top: 20px;
}

.skills_list_item span {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.42px;
}

.main {
    margin-left: 90px;
}

.position {
    margin-top: 108px;
    font-size: 14px;
    font-weight: 700;
}

h1 {
    margin-top: 24px;
    font-size: 45px;
    font-weight: 700;
}

.main_descr {
    margin-top: 24px;
    width: 420px;
    color: #595959;
    font-size: 14px;
    letter-spacing: 0.42px;
    margin-bottom: 10px;
}

.main_subheader {
    margin-top: 55px;
    font-size: 22px;
}

.projects_list {
    margin-left: 20px;
    margin-top: 12px;
}

.projects_list_item {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.projects_list_item_tech, .bio_list_item {
    color: #595959;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.projects_link {
    color: #595959;
    font-weight: 400;
    text-decoration: none;
}

.projects_list_item_wrapper {
    display: flex;
}

.projects_list_item_l {
    width: 400px;
}

.main_item_subheader {
    display: flex;
    margin-top: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.48px;
}

.main_item_subheader_wrapper {
    width: 250px;
}

.education_item_subheader, .education_specialization {
    margin-top: 10px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.48px;
}

.main_proper_name {
    color: #ff6b08;
}

.main_item_descr {
    color: #a8a8a8;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.36px;
    font-weight: 400;
}

.education_specialization {
    margin-top: 0px;
}

.bio_list {
    margin-top: 20px;
}

.bio_list_item {
    list-style: inside;
    color: #ff6b08;
}

.bio_list_item_descr {
    color: #595959;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.bio_list_item_link {
    color: #595959;
}

@media (max-width: 1200px) {
    body {
        padding: 0;
    }

    .main {
        padding: 0 20px;
    }

    .projects_list_item_l {
        width: 350px;
    }

    .main_item_subheader_wrapper {
        width: 270px;
    }

    .main_proper_name {
        width: 200px;
    }
}

@media (max-width: 991px) {
    aside {
        width: 320px;
    }

    .photo {
        width: 320px;
    }

    .position {
        margin-top: 50px;
    }

    h1 {
        font-size: 40px;
        margin-top: 15px;
    }

    .main {
        margin-left: 10px;
    }

    .main_descr {
        width: 380px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .main_subheader {
        margin-top: 25px;
    }

    .projects_list_item {
        width: 300px;
    }

    .projects_list_item_wrapper {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .projects_list_item_l {
        width: 300px;
    }

    .main_item_subheader {
        display: flex;
        flex-direction: row;
        line-height: 20px;
    }

    .main_position_name {
        width: 230px;
        font-size: 15px;
    }

    .main_proper_name {
        font-size: 15px;
        width: 150px;
    }

    .main_item_descr {
        width: 200px;
    }

    .main_item_subheader_wrapper {
        width: 230px;
    }

    .bio_list_item_descr {
        font-size: 10px;
    }
}

@media (max-width: 767px) {
    aside {
        width: 200px;
    }

    .photo {
        width: 200px;
    }

    .aside_header {
        margin-left: 15px;
        margin-top: 20px;
        font-size: 18px;
    }

    .contacts_item {
        margin-top: 6px;
    }

    .contacts_item_icon {
        margin-left: 15px;
        width: 20px;
    }

    .contacts_item_descr {
        font-size: 10px;
    }

    .skills_list_item:first-child {
        margin-top: 10px;
    }

    .skills_list_item {
        margin-top: 10px;
        margin-left: 0;
    }

    .skills_list_item span {
        font-size: 12px;
    }

    .main {
        margin: 0;
    }

    .position, .bio_list {
        margin-top: 10px;
    }

    h1 {
        font-size: 30px;
        margin-top: 10px;
    }

    .main_descr {
        width: 100%;
    }

    .main_subheader {
        margin-top: 10px;
        font-size: 20px;
    }

    .projects_list {
        margin-left: 15px;
    }

    .projects_list_item, .projects_list_item_tech {
        font-size: 12px;
    }

    .main_position_name, .main_proper_name {
        font-size: 14px;
    }

    .main_proper_name {
        width: 100%;
    }

    .main_item_subheader {
        margin-top: 10px;
        width: 100%;
    }

    .main_item_subheader_wrapper, .main_position_name {
        width: 180px;
    }

    .main_item_descr {
        font-size: 10px;
    }
}

@media (max-width: 575px) {
    .container {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    .photo {
        border-radius: 100px;
        margin: 10px 0 0 5%; 
        width: 40%;
    }

    .header_mini {
        margin-left: 5%;
    }

    .name_mini, .position_mini {
        display: block;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        text-align: left;
    }

    .position_mini {
        font-size: 14px;
        margin-top: 10px;
    }

    .aside_header {
        margin: 20px 0 0 5%;
        font-size: 16px;
    }

    .position, .name {
        display: none;
    }

    .contacts_item {
        margin-top: 16px;
    }

    .contacts_item_icon {
        margin-left: 5%;
        width: 30px;
    }

    .contacts_item_descr, .skills_list_item span {
        font-size: 14px;
    }

    .skills_list_item {
        margin-top: 10px;
        margin-left: 0;
    }

    .skills_list:last-child {
        margin-bottom: 20px;
    }

    .main {
        margin: 0;
        padding: 0 20px;
    }

    .main_descr {
        width: 100%;
    }

    .projects_list_item {
        width: 250px;
    }

    .projects_list_item_l {
        font-size: 10px;
        width: 100%;
    }

    .main_proper_name {
        width: 50%;
    }

    .main_item_subheader_wrapper {
        width: 50%;
    }

    .main_item_subheader_wrapper { 
        padding-right: 15px
    }

    .main_item_descr {
        width: 115px;    
    }

    .main_position_name {
        width: 120px;
    }
}

@media (max-width: 344px) {
    .bio_list_item_descr {
        font-size: 9px;
    }
}